<template>
    <div class="panel">
        <div class="panel-head">
            114次有效学习
        </div>
        <div class="recordPanel">
            <div class="left-side">
                <div class="box">周一</div>
                <div class="box">周四</div>
                <div class="box">周日</div>
            </div>
            <div class="right-side">
                <div class="less box" v-for="item in allDays" :key="item">
                    <div class="month" v-if="panelMonth.indexOf(item)">

                    </div>
                </div>
                <!--        <float-msg class="floatMsg"></float-msg>-->
            </div>

        </div>
    </div>
</template>

<script>
  import FloatMsg from "@/components/content/floatMsg";
  export default {
    name: "recorderPanel",
    components: {FloatMsg},
    data(){
      return {
        panelMonth: [],
        allDays: 0
      }
    },
    created() {
      this.getYears()
    },
    methods: {
      getYears(){
        let Year = new Date().getFullYear(), s = 0, d;//获取当前年
        for (let i = 1; i < 13; i++) {
          d = new Date(Year, i, 0);//获取某一个月的天数
          this.allDays += d.getDate();
          this.panelMonth.push(s)
        }
      }
    }
  }
</script>

<style scoped>
    .panel {
        margin-top: 20px;
    }
    .panel-head {
        font-size: 20px;
        text-align: left;
        padding-bottom: 20px;
    }
    .recordPanel {
        padding-top: 20px;
        width: 830px;
        height: 125px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .left-side {
        width: 32px;
        font-size: 12px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .right-side {

        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .right-side .box {
        width: 15px;
        height: 15px;
        border: 1px solid #FFF;
        position: relative;
    }
    .right-side .month {
        position: absolute;
        top: 0;
        margin-top: -15px;
        margin-left: -15px;
        min-width: 45px;
        font-size: 12px;
        text-align: center;
    }
    .less {
        background-color: rgb(235, 237, 240);
    }
    .little {
        background-color: #9be9a8;
    }
    .some {
        background-color: #40c463;
    }
    .many {
        background-color: #30a14e;
    }
    .much {
        background-color: #216e39;
    }
    .floatMsg {
        position: absolute;
        left: 0;
        top: 0;
    }
</style>